VITE_FIREBASE_API_KEY="AIzaSyD9zYEq1SEC4ELOIrpGqRuBfaWGTiTbbJQ"
VITE_FIREBASE_AUTH_DOMAIN=foodloops-37032.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=foodloops-37032
VITE_FIREBASE_STORAGE_BUCKET=foodloops-37032.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=122655159724
VITE_FIREBASE_APP_ID=1:122655159724:web:d7910350b515961e073609
VITE_FIREBASE_MEASUREMENT_ID=G-CMFJCCK131

# Google Gemini AI API Key
VITE_GEMINI_API_KEY=your_gemini_api_key_here